@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* Main Styles */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.attribution {
  position: absolute;
  bottom: 0;
  font-size: 0.8rem;
}

/* Utility Styles */
.gray-text {
  color: #b0b0b0;
  font-weight: 400;
}

main {
  background-color: #1ba1ad;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

main .top-img {
  position: absolute;
  top: -400px;
  left: -200px;
  width: 100%;
  height: 100%;
}

main > * {
  z-index: 1;
}

.card {
  position: relative;
  width: 350px;
  background-color: #fff;
  color: #333;
  border-radius: 20px;
  overflow: hidden;
}

.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 35%;
  background: url("./images/bg-pattern-card.svg");
  z-index: -1;
}

.top-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(176, 176, 176, 0.4);
  padding: 3rem 1rem 1.2rem;
  margin-top: 2rem;
  text-align: center;
  font-size: 0.9rem;
  line-height: 1.8;
}

.top-container .img img {
  border-radius: 50%;
  border: solid #fff 5px;
}

.top-container h1 {
  font-size: 1.2em;
  margin-top: 0.5em;
}

.bottom-container {
  display: flex;
  font-size: 0.8rem;
  justify-content: space-around;
  align-items: center;
  padding: 1.8rem;
  text-align: center;
}
